[submodule "tools/CPUCollector"]
	path = tools/CPUCollector
	url = git@github.com:TomeMD/CPUCollector.git
[submodule "tools/stress-system"]
	path = tools/stress-system
	url = git@github.com:TomeMD/stress-system.git
